.form_container {
  display: flex;
}

.form_left {
  background: rgb(23, 59, 63);
  min-height: 100vh;
  width: 390px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 70px 0;
}

.form_left .form-logo {
  width: 197px;
  margin-bottom: 26px;
}

.form_left .form-img {
  width: 70%;
}

.form_left_content {
  padding: 0 18px;
}

.form_left_content h2 {
  color: rgb(159, 215, 196);
  font-family: serif;
  font-size: 32px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.form_left_content p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: sans-serif;
}

.form_right {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
}

.form_right .step_text h4 {
  text-align: center;
  font-family: serif;
  font-size: 24px;
  font-weight: 400;
  max-width: 442px;
  margin: 0px auto;
}

.form_right .step_text h4 span {
  color: rgb(86, 200, 112);
  font-style: italic;
}

.form_content {
  width: 100%;
  margin: 4rem 0;
}

.form_content .form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 635px;
  margin: 2rem auto 0px;
}

.form_content .input_field .input {
  width: 100%;
  border: 1px solid rgb(220, 226, 249);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 0.75rem 1rem;
  margin-top: 0.75rem;
  height: 55px;
  margin-bottom: 18px;
  margin-top: 11px;
}

.form_content .input_field .input .icon {
  color: rgb(220, 226, 249);
  font-size: 22px;
  margin-right: 10px;
  margin-top: 4px;
}

.form_content .input_field .input input,
.form_content .input_field .input select {
  outline: none;
  border: none;
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.form_content .input_field label {
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(165, 170, 181);
  text-align: left;
  margin-left: 0.75rem;
}

.checkbox {
  font-size: 12px;
  color: rgb(151, 156, 167);
}

.form_btn_container button {
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: rgb(86, 200, 112);
  color: rgb(255, 255, 255);
  border-radius: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0);
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  min-width: 5.875rem;
}

.form_btn_container button:first-child {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(31, 44, 70);
  border: 1px solid rgb(31, 44, 70);
}

.experience_year {
  margin-top: 30px;
}

.experience_year button {
  width: auto;
  height: auto;
  padding: 7px 20px;
  border: 1px solid rgb(220, 226, 249);
  border-radius: 0.25rem;
  font-family: sans-serif;
  color: rgb(31, 44, 70);
  font-size: 16px;
  text-align: center;
  margin: 0.5rem;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

.experience_year .xp_border {
  border: 1px solid #333;
}

.dots .dot {
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.375rem;
  background-color: rgb(253, 240, 220);
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.dots .dot_active {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.375rem;
  background-color: rgb(247, 178, 79);
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  margin-top: -0.0625rem;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto 0px;
  max-width: 700px;
}
.steps .step {
  flex: 1 1 0%;
  height: 0.3125rem;
  border-radius: 0.375rem;
  background-color: rgb(232, 234, 239);
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.steps .step_active {
  flex: 1 1 0%;
  height: 0.3125rem;
  border-radius: 0.375rem;
  background-color: rgb(86, 200, 112);
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}