.form_container {
  display: flex;
}

.form_left {
  background: rgb(23, 59, 63);
  min-height: 100vh;
  width: 400px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form_left .form-logo {
  width: 197px;
  margin-bottom: 26px;
}

.form_left .form-img {
  width: 70%;
}
.form_left_content {
  padding: 0 18px;
}
.form_left_content h2 {
  color: rgb(159, 215, 196);
  font-family: serif;
  font-size: 32px;
  margin-bottom: 18px;
  margin-top: 18px;
}

.form_left_content p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: sans-serif;
}

.form_right {
  background: green;
  height: 100vh;
  overflow-y: auto;
}